body {
    min-height: 100vh;  /* needed to make sure body fills up window */
	/*  Choose a font stack. A browser uses the first
	    font in the stack that it has.  */
	/* the whole body is a flexbox container */
	  display: flex;
    flex-direction: column;  /* stack items inside vertically */
    justify-content: flex-start;
}

#Upper {
    background-image: linear-gradient(rgb(73, 138, 220), rgb(98, 59, 156));
}

#h1 {
    color: white;
    font-size: 3.5vw;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-left: 100px;
    margin-right: 0px;
    margin-top: 70px;
    margin-bottom: 10px;
}

#h2 {
    color: rgb(14, 66, 131);
    font-size: 2.5vw;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-left: 100px;
    margin-right: 0px;
    margin-bottom: 25px;
}

#map {
    float: right;
    position: absolute;
    clip-path: circle(40%);
    top:0;
    right:0;
    margin-top: 40px;
    margin-bottom: 0px;
    width: 30%;
    margin-right: 100px;
    margin-left: 0px;
}

img.base {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    height: auto;
    width: auto;
    max-width: 100%;
}

#colors {
    position: absolute;
    width: 70%;
    top: 0;
    left: 0;
    margin-left: 50px;
    margin-right: 0px;
    margin-top: 50px;
    margin-bottom: 0px;
}

#cities {
    position: absolute;
    width: 80%;
    top: 0;
    left: 0;
    margin-left: 35px;
    margin-right: 0px;
    margin-top: 57px;
    margin-bottom: 0px;
}

img.names {
    height: auto;
    width: auto;
    max-width: 100%;
}

#search {
    font-size: 1.5vw;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-left: 100px;
    margin-right: 0px;
    color: white;
    height: 50px;
}

#searchtxt {
    background-color: rgb(46, 46, 129);
    height: 25px;
    margin-left: 20px;
    margin-right: 0px;
    color: white;
}

#submit {
    background-color: rgb(130, 145, 214);
    height: 30px;
    width: 70px;
    color: white;
    border: none;
    font-size: 12px;
}

#showTemp {
    display: flex;
    flex-direction: row;
    font-family: 'Saira Extra Condensed Light', sans-serif;
    color: white;
    margin-left: 140px;
    margin-right: 0px;
}

#showTime {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
}

#current {
    font-size: 2em;
    font-weight: lighter;
}

#time {
    font-size: 2em;
    font-weight: lighter;
}

#imagesize {
    width: 15%;
    margin-left: 3%;
    margin-right: 0%;
    margin-bottom: 3%;
}

#image {
    margin-left: 30px;
    margin-right: 0px;
    margin-top: 15px;
    max-width: 100%;
}

#temperature {
    font-size: 4em;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 0px;
    font-weight: lighter;
}

#Lower {
    display: flex;
    flex-direction: row;
    min-width: 100vw;
    font-family: 'Saira Extra Condensed', sans-serif;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(223, 223, 223));
}

.Hour {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;

}

.txttime {
    font-size: 1.5vw;
    text-align: center;
    padding-top: 50px;
}

.temp {
    font-size: 4vw;
    text-align: center;
    padding-bottom: 20%;
}

#fifhour {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}

/*********************************************************************/
/****************************Tablet View******************************/
/*********************************************************************/
@media (max-width: 1024px){
  body {
    min-width: 100vh;
    height: 100vh;
    display: flex;
  }

  #Upper {
    position: relative
    min-height: 60vh;
    flex: 1;
  }

  #Lower {
    flex: 1;
  }

  #headers {
    display: flex;
    flex-direction: column;
  }

  #imagesize {
    position: absolute;
    width: 25%;
    margin-bottom: 50%;
    margin-left: 10%;
    top: 25%;
  }

  #map {
    min-width: 40%;
    margin-top: 30%;
    margin-bottom: 0%;
    margin-right: 0%;
  }

  #h1 {
    font-size: 3em;
    margin-top: 5%;
    /*white-space: nowrap;*/
  }

  #h2 {
    font-size: 2.4em;
    margin-left: 15%;

  }
  #search {
    font-size: 1.2em;
    margin-left: 20%;
    margin-bottom: 10%;
  }
  #showTemp {

  }
  #showTime {
    margin-top: 20%;
  }

  #current {
    font-size: 1em;
    transform: scale(1.5,2.5);
    margin-top: 60%;
    margin-left: 100%;
    margin-bottom: 20%;
    font-weight: lighter;
  }
  #time {
    font-size: 1em;
    transform: scale(1.5,2.5);
    margin-top: 40%;
    margin-left: 110%;
    font-weight: lighter;
  }

  #temperature{
    font-size: 3.7em;
    margin-top: 25%;
    margin-left: 3%;
    transform: scale(1,1.5);
    font-weight: lighter;
  }

  #pipe {
    border-left: 2px solid black;
    height: 75px;
    opacity: .35;
    float: left;
    margin-left: 13%;
    margin-top: 23%;
  }

  .temp {
    font-size: 2em;
    transform: scale(1.5,2.5);
    font-weight: lighter;
  }
  .txttime {
    transform: scale(1,1.5);
    font-weight: lighter;
  }
}


/*********************************************************************/
/****************************Mobile View******************************/
/*********************************************************************/
@media (max-width: 767px){
  body {
      max-width: 100vw;
      height: 100vh;
      position: relative;
    }
  #imagesize {
    width: 50%;
    position: absolute;
    left: 0;
    margin-left: 30%;
    margin-top: 40%;
  }
  #showTemp{
    display: flex;

  }
  #showTime {
    font-size: 2em;
    margin-top: 70%;
    margin-left: 0%;
  }

  #map {
    display: none;
  }
  #firsthour,
  #secondhour,
  #thour,
  #fhour,
  #fifhour {
    flex-direction: row;
    justify-content: space-around;
  }
  #h1 {
    font-size: 4em;
    margin-top: 15%;
    margin-left: 10%;
    flex-wrap: wrap;
  }

  #h2 {
    font-size: 2em;
    margin-top: 5%;
    margin-left: 10%;

  }
  #search {
    font-size: 3em;
    margin-left: 20%;

  }

  #searchtxt {
    height: 50px;
    font-size: 1em;
    width: 400px;
    margin-left: 0%;
  }

  #submit {
    height: 50px;
    width: 150px;
    color: white;
    border: none;
    font-size: .6em;

  }
  #pipe {
    margin-top: 85%;
    height: 130px;
    margin-bottom: 20%;
    margin-left: 30%;
  }
  #temperature {
    font-size: 7em;
    margin-top: 85%;
    margin-bottom: 20%;
  }
  .txttime {
    font-size: 3em;
    margin-top: auto;
  }
  .temp {
    font-size: 4.5em;
    margin: 5%;
  }
  #firsttemp {
    margin-top: 30%;
  }

/*not working*/
  #h1 p span::before{
    content: "\A";
  }

  i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

  }
  #Upper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #Lower {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: absolute;
      top: 0%;
      animation-duration: 10s;
      animation-name: slideUp;
      background-image: none;
      background-color: white;
  }

  .up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin-left: 50%;
  width: 50px;
  height: 50px
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-left: 50%;
    width: 50px;
    height: 50px
  }

  .slideUp{
    overflow:hidden;
  }

  .slideDown{

  }

  @keyframes slideUp {
    from {
      margin-top: 100%;
    }
    to {
      margin-top: 0%;
    }
  }
/*
  @keyframes slideDown {
  from {top: 0px;}
  to {top: 200px;}
  }*/
}
