
body {
    min-height: 100vh;  /* needed to make sure body fills up window */
	/*  Choose a font stack. A browser uses the first
	    font in the stack that it has.  */
	/* the whole body is a flexbox container */
	  display: flex;
    flex-direction: column;  /* stack items inside vertically */
    justify-content: flex-start;
    /*overflow-x: hidden;
    overflow-y: hidden;*/
}

#Upper {
    background-image: linear-gradient(rgb(73, 138, 220), rgb(98, 59, 156));
}

#h1 {
    color: white;
    font-size: 3.5vw;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-left: 100px;
    margin-right: 0px;
    margin-top: 70px;
    margin-bottom: 10px;
}

#h2 {
    color: rgb(14, 66, 131);
    font-size: 2.5vw;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-left: 100px;
    margin-right: 0px;
    margin-bottom: 25px;
}
/*
#map {
    float: right;
    position: relative;
    clip-path: circle(40%);
    margin-top: 40px;
    margin-bottom: 0px;
    width: 30%;
    margin-right: 100px;
    margin-left: 0px;
}*/

#map {
    float: right;
    position: absolute;
    clip-path: circle(40%);
    top:0;
    right:0;
    margin-top: 40px;
    margin-bottom: 0px;
    width: 30%;
    margin-right: 100px;
    margin-left: 0px;
}

img.base {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    height: auto;
    width: auto;
    max-width: 100%;
}

#colors {
    position: absolute;
    width: 70%;
    top: 0;
    left: 0;
    margin-left: 50px;
    margin-right: 0px;
    margin-top: 50px;
    margin-bottom: 0px;
}

#cities {
    position: absolute;
    width: 80%;
    top: 0;
    left: 0;
    margin-left: 35px;
    margin-right: 0px;
    margin-top: 57px;
    margin-bottom: 0px;
}

img.names {
    height: auto;
    width: auto;
    max-width: 100%;
}

#search {
    font-size: 1.5vw;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-left: 100px;
    margin-right: 0px;
    color: white;
    height: 50px;
}

#searchtxt {
    background-color: rgb(46, 46, 129);
    height: 25px;
    margin-left: 20px;
    margin-right: 0px;
    color: white;
}

#submit {
    background-color: rgb(130, 145, 214);
    height: 30px;
    width: 70px;
    color: white;
    border: none;
    font-size: 12px;
}

#showTemp {
    display: flex;
    flex-direction: row;
    font-family: 'Saira Extra Condensed Light', sans-serif;
    color: white;
    margin-left: 140px;
    margin-right: 0px;
}

#showTime {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
}

#current {
    font-size: 30px;
}

#time {
    font-size: 30px;
}

#imagesize {
    width: 15%;
    margin-left: 50px;
    margin-right: 0px;
}

#image {
    margin-left: 30px;
    margin-right: 0px;
    margin-top: 15px;
    max-width: 100%;
}

#temperature {
    font-size: 60px;
    margin-top: 60px;
    margin-left: 50px;
    margin-right: 0px;
}

#Lower {
    display: flex;
    flex-direction: row;
    min-width: 100vh;
    font-family: 'Saira Extra Condensed', sans-serif;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(223, 223, 223));
}

.Hour {
    display: flex;
    flex-direction: column;
    padding-left: 85px;
    padding-right: 85px;

}

.txttime {
    font-size: 1.5vw;
    text-align: center;
    padding-top: 50px;
}

.temp {
    font-size: 4vw;
    text-align: center;
    padding-bottom: 50px;
}

#fifhour {
    display: flex;
    flex-direction: column;
    padding-left: 85px;
    padding-right: 85px;
}


/*********************************************************************/
/****************************Tablet View******************************/
/*********************************************************************/
@media (max-width: 1024px){
  body {
    min-width: 100vh;
    background-color: #F09A9D;
  }
  #Upper {
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    display: inline;
    justify-content: center;
    flex-grow: 2;
  }
  #headers {
    display: flex;
    flex-direction: column;
  }
  #iconMapTemp {
    position: relative;

  }
  #showTemp {
    display: flex;
    flex-direction: row;
    justify-content: center;

  }
  #image {
    width: 20%;
    /*order: 1;*/
    position: absolute;
    left: 0;
    margin-left: 100px;
  }
  #showTime {
    float: left;
    /*order: 2;*/
  }
  #pipe {
    border-left: 2px solid black;
    height: 60px;
    /*order: 3;*/
    opacity: .35;
    float: left;
    margin-left: 30px;
    margin-top: 60px;
  }
  #temperature{
    /*order: 4;*/
    float: left;
    margin-left: -15vw;
  }
  #map {
    clip-path: circle(40%);
    position: absolute;
    margin-top: 150px;
    margin-bottom: 0px;
    width: 30%;
  }
  .layer {
    background-color: thistle;
    display: flex;
    position: absolute;
    left: 0;
    justify-content: space-between;
  }
  #Lower {
    flex-grow: 1;
  }
  #h1 {
      font-size: 6vw;
      margin-left: 150px;
      margin-right: 0px;
      margin-top: 70px;
      margin-bottom: 10px;
  }

  #h2 {
      font-size: 5vw;
      margin-left: 170px;
      margin-right: 0px;
      margin-bottom: 25px;
  }
  #search {
      font-size: 3vw;
      margin-left: 200px;
      margin-right: 0px;
      color: white;
      height: 50px;
  }
}


/*********************************************************************/
/****************************Mobile View******************************/
/*********************************************************************/
@media (max-width: 767px){
  body {
      min-height: 100vh;
      background-color: #B2D6FF;
  }
  #Upper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 120%;
    flex-grow: 1;
    height: 170vh;
  }
  #showTemp{
    display: flex;
    flex-direction: row;
  }
  #showTime {
    font-size: 5em;
  }
  #map {
    display: none;
  }
  #Lower {
      display: flex;
      flex-direction: column;
      height: 170vh;
      flex-grow: 1;
      justify-content: space-around;
  }
  #firsthour,
  #secondhour,
  #thour,
  #fhour,
  #fifhour {
    flex-direction: row;
    justify-content: space-around;
  }
  .txttime {
    font-size: 3em;
    margin-top: 20px;
    padding-top: 5px;
  }
  .temp {
    font-size: 6em;
    margin-top: 20px;
    padding-top: 5px;
  }
  #h1 {
    font-size: 4.5em;
    margin-left: 60px;
    margin-right: 0px;
    margin-top: 70px;
    margin-bottom: 10px;
    padding: 25px;
  }

  #h2 {
    font-size: 2.5em;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-right: 0px;
    margin-bottom: 25px;
    padding: 25px;
  }
  #search {
    display: flex;
    font-size: 3em;
    margin-left: 20px;
    margin-right: 0px;
    color: white;
    height: 50px;
    flex-wrap: wrap;
  }
  #image {
      margin-left: 30px;
      margin-right: 0px;
      margin-top: 15px;
      margin-bottom: 30px;
      max-width: 100%;
  }
  #current {
      font-size: 1em;
  }

  #time {
      font-size: 1em;
  }
  #pipe {
    border-left: 2px solid black;
    height: 150px;
    opacity: .35;
    float: left;
    margin-left: 30px;
    margin-top: 60px;
  }
  #temperature {
      font-size: 8em;
      margin-top: 60px;
      margin-left: 10px;
      margin-right: 0px;
  }
}
